* {
    margin: 0;
    padding: 0;
}

/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ibarra+Real+Nova&family=Oswald&display=swap');



header{
    width: 100%;
    height: 200px;
    font-family: 'Poppins', sans-serif;
    background-color: #748CAB;

} 

h1 {
    text-align: left;
    font-size: 60px;
    color: black;
}
/* nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    
}
ul li a {
    padding: 7px;
    box-sizing: border-box;
}
header li{
    display: inline;
    margin: 5px; 
    padding: 10px;
}
header a {
    text-decoration: none;
}
li a {
    font-weight: bold;
    font-size: 25px;
} */

.seccion-publicidad {
    text-align: center;
    background-color: #ccc;
}

h2 {
    font-size: 40px;
}
/* Noticias */

.titulo-noticias{
    text-align: center;
}
.noticias{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.noticias img{
    width: 30rem;
    height: 22rem;
}

.noticias p{
    font-weight:bold ;
    text-align: center;
    
}
.covid{
    
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.noticiaAplicacion{
    
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
    
}
/* redes */
.seccion-redes{
    clear: both;
    background-color: #748CAB;
    margin-top: 80px;
    
}

.redes img {
    margin-right: 20px;
    
}
.asistenteVirtual {
    position: fixed;
    max-width: 3%;
    margin-left: 1830px;
}

.redes {
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
    color: #F0EBD8;
}
.footer {
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
    color: #F0EBD8;
    
}

.logoInstagram {
    text-align: center;
    max-width: 3%;
    
}
.logoFacebook {
    text-align: center;
    max-width: 3%;
}
.logoTwitter {
    text-align: center;
    max-width: 3%;
} 

/* NOSOTROS*/

.titulo {
    
    text-align: center;
}
/* .texto {
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    padding: 20px;
} */
.texto p {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

/* .texto img {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 25px 10px 10px 4px gray;
}  */
/* SERVICIOS*/

.lista1 {
    display: flex;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    font-size: 30px; 
}
.servicios {
    text-align: center;
}



/* CONTACTO */
  /* .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    padding: 10rem;
}  */

form{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: #748CAB;
    border: black solid 1px;
    width: 100%;
    height: 530px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem;
    
    
    
}
input{
border-radius: 0.5rem;
height: 2rem;
margin-top: 20px;
}
    
.contenedorFormulario{
    width: 100%;
    height: 610px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

/* AFILIADOS  */

.grilla1 {

    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    margin: 100px;
    

}

.grilla {
    border: 1px solid black;
    font-size: 19px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;

}
.fecha{
    background-color: rgb(192, 189, 189);
    font-size: 19px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px black solid;
}
.especialidad{
    background-color: rgb(192, 189, 189);
    font-size: 19px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px black solid;
}
.hora{
    background-color: rgb(192, 189, 189);
    font-size: 19px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px black solid;
}

.tituloAfiliados {
    text-align: center;
}
.turnosAfiliados {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/******** GRID AREAS *********/



/* GRID AREA NOSOTROS */
.gridPadreNosotros {
    display: grid;
    grid-template-areas: 
    "header"
    "main-nosotros"
    "footer";
}

.headerNosotros {
    grid-area: header;
}


.main-nosotros {
    grid-area: main-nosotros;
}


.footerNosotros {
    grid-area: footer;
}



/* GRID AREA INDEX */
header {
    grid-area: header;
}
section {
    grid-area: section;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.gridPadreIndex {
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "main"
    "footer";
}





/* responsive hasta los 375px */

@media all and (max-width:375px) {
    
    /*bot */
    .asistenteVirtual{
        display: none;
    }
  /* header */
    header{
        width: 100%;
        height: 200px;
    }
    
    h1 {
        text-align: center;
        
    }
    
    


    /*publicidad SECTION */
        
        section{
            display: grid;
            text-align: center;
            width: 100%;
            height: 300px;
        }    
    
        .seccion-publicidad {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            text-align: center;
            justify-content: center;
            background-color: transparent;
            margin-bottom: 1rem;


        }
        .seccion-publicidad h2{
            display: none;
;
        }
    
        iframe{
            width: 100%;
            height: auto;

        }
    
    





 /* main */
    main{
        display: grid;
        grid-template-rows: 10% 90%;
        text-align: center;
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }


    .noticias{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .titulo-noticias{
        margin-top: 1rem;
        width: 100%;
    }

    .noticias img{
        width: 100%;
        height: auto;
    }

    .covid{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: rgba(204, 204, 204, 0.444);
        padding-bottom: 10%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0px 15px 0px ;
    }

    .covid h2{
        margin-bottom: 10px;
    }
    .covid img{
        width: 100%;
        padding: 0%;
        height: auto;

    }


    .covid p{
        font-weight: bold ;
        text-align: center;
        padding: 0.5rem;

    }

    input{
        box-shadow: 15px 10px 20px 1px rgba(0, 0, 0, 0.555);
        font-weight: bold ;
        text-align: center;
        padding: 0.5rem;
        width: 70%;
    }


    .noticiaAplicacion{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: rgba(204, 204, 204, 0.444);
        padding-bottom: 10%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0px 15px 0px ;
    }

    .noticiaAplicacion p {
        font-weight: bold ;
        text-align: center;
        padding: 0.5rem;
    }



    /* footer */

    .footer {
        font-size: 1.2rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .seccion-redes{
        clear:none;
        display: flex;
        flex-wrap: wrap;
        background-color: #748CAB;
        justify-content: center;
        padding: 0.3rem;
        height: 100px;
        
    }


    .redes1{
        display: none;
    }

    .redes  {
        display: none;

    }




    /* NOSOTROS*/

    .main-nosotros {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .titulo {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .texto {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        width: 100%;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }
    .texto p {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        width: 100%;
        
    }
    
    .texto img {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 25px 10px 10px 4px gray;
        width: 100%;
        height: auto;
    }
    /* SERVICIOS*/
    
    .lista1 {
        display: flex;
        justify-content: center;

        padding: 1.9rem;
        margin: 0px;
        font-size: 1.2rem; 
    }
    .servicios {
        display: flex;
        justify-content: center;
    }
    
    
    
    /* CONTACTO */


    /* .maincontacto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    /* .contacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
    }
    
    form{
        display: flex;
        flex-direction: wrap;
        background-color: #748CAB;
        border: black solid 1px;
        width: 100%;
        height: 520px;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 2rem;
        
        
        
    }
    input{
    border-radius: 0.5rem;
    height: 2rem;
    margin-top: 20px;
    width: 100%;
    }
    /* AFILIADOS  */

    
    

    



/* responsive desde 375 a 768*/


@media all and (min-width:376px) and (max-width: 900px) {
    
    /*bot */
    .asistenteVirtual{
        display: none;
    }
 /* header */
    header{
        display: grid;
        width: 100%;
        height: 200px;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        text-align: center;
        font-size: 1.8rem;
        color: black;
    }
     nav{
        display: none;
    }


    /*publicidad SECTION */
        
        section{
            display: grid;
            text-align: center;
            width: 100%;
            height: 300px;
        }    
    
        .seccion-publicidad {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            text-align: center;
            justify-content: center;
            background-color: transparent;
            margin-bottom: 1rem;


        }
        .seccion-publicidad h2{
            display: none;
;
        }
    
        iframe{
            width: 90%;
            height: auto;

        }
    





 /* main */
    main{
        display: grid;
        grid-template-rows: 10% 90%;
        text-align: center;
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }


    .noticias{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .titulo-noticias{
        margin-top: 1rem;
        width: 100%;
    }

    .noticias img{
        width: 100%;
        height: auto;
    }

    .covid{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: rgba(204, 204, 204, 0.444);
        padding-bottom: 10%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0px 15px 0px ;
    }

    .covid h2{
        margin-bottom: 10px;
    }
    .covid img{
        width: 100%;
        padding: 0%;
        height: auto;

    }


    .covid p{
        font-weight: bold ;
        text-align: center;
        padding: 0.5rem;

    }

    input{
        box-shadow: 15px 10px 20px 1px rgba(0, 0, 0, 0.555);
        font-weight: bold ;
        text-align: center;
        padding: 0.5rem;
        width: 70%;
    }


    .noticiaAplicacion{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: rgba(204, 204, 204, 0.444);
        padding-bottom: 10%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0px 15px 0px ;
    }



    /* footer */

    .footer {
        font-size: 1.2rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .seccion-redes{
        clear:none;
        display: flex;
        flex-wrap: wrap;
        background-color: #748CAB;
        justify-content: center;
        padding: 0.3rem;
        height: 100px;
        
    }


    .redes1{
        display: none;
    }

    .redes  {
        display: none;

    }




    /* NOSOTROS*/
    
    .main-nosotros {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    
    .titulo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .texto {
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        width: 100%;
        padding: 20px;
        
    }
    .texto p {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        width: 100%;
        height: auto;
        
        
    }
    
    .texto img {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 25px 10px 10px 4px gray;
        width: 100%;

        height: auto;
        
    }
    /* SERVICIOS*/
    
    .lista1 {
        display: flex;
        justify-content: center;

        padding: 1.9rem;
        margin: 0px;
        font-size: 1.2rem; 
    }
    .servicios {
        display: flex;
        justify-content: center;
    }
    
    
    
    /* CONTACTO */

    /* .mainContacto {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        text-align: center;
    }
    .contacto{
        display: flex;
        padding: 5rem;
       
    }
    
    form{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        background-color: #748CAB;
        border: black solid 1px;
        width: 100%;
        height: 500px;
        border-radius: 0.5rem;
        box-sizing: border-box;
        
        
        
        
    }
    input{
    border-radius: 0.5rem;
    height: 2rem;
    width: 90%;
    justify-items: center;
    }
        
    .contenedorFormulario{
        display: flex;
        width: 500px;
        justify-content: center;
    }*/
    
    /* AFILIADOS  */
    
    .main-afiliados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .contenedorGrilla {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: 100px;
    }

    .tituloGrilla {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 100%
    }

    .grilla1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        
    
    }
    
    .grilla {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid black;
        font-size: 19px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
    
    }
    .fecha {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: rgb(192, 189, 189);
        font-size: 19px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px black solid;
        justify-content: center;
    }
    .especialidad{
        background-color: rgb(192, 189, 189);
        font-size: 19px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px black solid;
    }
    .hora {
        background-color: rgb(192, 189, 189);
        font-size: 19px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px black solid;
    }
}